@gold : #daae6c;
@orange : #ffc106;
@blue:#4183c4;
.catagory{
	width:220px;
	height:30px;
	padding:0px 5px;
	color:#868688;
	.item{
		width:33%;
		float:left;
		height:100%;
		text-align:right;
		transition:color 0.2s linear;
		
		padding:5px 0;
		line-height:20px;
		color:#868688;

	}
	#item1:hover,#item2:hover,#item3:hover,#itemall:hover{
		color:#494c50;
		cursor: pointer;
	}
}
.goodlist{
	width:100%;
	li{
		width:100%;
		height:220px;
		img{
			display: block;
			width:220px;
			float: left;
		}
		div.describe{
			width:330px;
			height:100%;
			padding:20px 0;
			float: left;
		}
		div.control{
			height:100%;
			width:165px;
			float: left;
			padding:40px 0;
			div{
				height:33%;
				width:100%;
				float:left;
				display:table-cell;
				vertical-align: middle;
				padding:0px 10px;
				a{
					display:block;
					width:80%;
					margin:0 auto;
				}
			}
			
		}
	}
}


