@height:600px;//设置首页模块的最小高度;
@navh:200px;
@goodh : @height - @navh;
@gold : #daae6c;
@orange : #ffc106;
@blue:#4183c4;
ul{
  list-style: none;
}
.absolute{
  position:absolute;
  top:0;
  left:0;
}
.fullbox{
  width:100%;
  min-width:1000px;
  position:relative;
  overflow:hidden;
}
.centerbox{
  width:980px;
  margin:0 auto;
  overflow:hidden;
  position:relative;
}
.navbox{
  width:100%;
  position: fixed;
  top:0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0px;
}
.nav{
  margin:0 auto;
  width:80%;
  td{
  	font-size:25px;
  	width:20%;
  	text-align:center;
    color:@gold;
    a{
      z-index:2;
    }
  }
  height:@navh;
}
.logo{
  width:170px;
}
.tumb{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  .tumbimg{
    display:block;
    .absolute;
    width:100%;
  }
  height:100%;
  z-index:0;
  overflow:hidden;
}
.fadeout{
  opacity:1;
  transition:opacity 1000ms ease;
}
.ng-hide{
  opacity:0;
}
.ng-hide-add-active{
  display: none;
}
.ng-hide-remove{
  display: block;
}
.goodpadbox{
  padding:100px 0;
  //border-bottom:1px solid #eee;
}
.tumbctrl{
  font-size:80px;
  color:rgba(155,155,155,0.5);
  height:100%;
  width:100%;
  position:absolute;
}
.angle-left{
  position: absolute;
  top:200px;
  cursor:pointer;
  left:10px;
  
}
.angle-right{
  position: absolute;
  cursor:pointer;
  right:10px;
  top:200px;
}
.angle-right:hover,.angle-left:hover{
   color:rgba(125,125,125,0.7);
}
.tumbbox,.goopadbox{
  min-height:650px;
}
.goodpad{
  width:33%;
  padding:0px 35px;
  float: left; 
  height:330px;
  overflow: hidden;
  cursor:pointer;
  display: block;
  padding-top:30px;
  // transition: all 1s linear;
  // -webkit-transition: all 1s linear ;
  span{
    width:100%;
    text-align: center;
    display: block;
      font-family:lantingqianhei;
  }
  .goodimgbox{
    width:100%;
    height:253px;
    overflow: hidden;
    img{
      display: block;
      width:100%;
      height:100%;
    }
  }
  .goodms{
    width:100%;
    height:50px;
    opacity:0;
    transition: opacity 600ms ease;
    display: none;
    span{
      width:100%;
      text-align: center;
      display: block;
      font-family:lantingqianhei;
    }

  } 
}
.goodpad.ng-animate {
    -webkit-transition-delay:200ms;
     transition-delay:200ms;

     /* 防止意外CSS继承的保护措施 */
     -webkit-transition-duration:0;
     transition-duration:0;
}
.borderl{
  border-left:1px dashed @gold;
}
.borderr{
  border-right:1px dashed @gold;
}
.bordert{
  border-top:1px dashed @gold;
}
.borderb{
  border-bottom:1px dashed @gold;
}
.header{
  min-width:1000px;
  padding:20px 0;
  background-color: rgba(255, 255, 255, 0.2);
  color: #333;
  border-bottom:1px solid #eee;
  top:0;
  width:100%;
  z-index: 11;
  .header-nav{
    list-style:none;
    float:left;
    li{
      float:left;
      position:relative;
      a{
          display: block;
          padding: 4px 8px;
          font-size: 15px;
          line-height: 20px;
          .headuserimg{
            display:block;
            width:20px;
            height:20px;
            border-radius: 10px;
            overflow:hidden;
            float:left;
          }
          .headusername{
            display: block;
            height:20px;
            line-height: 20px;
            float: left;
            text-indent: 5px;
            font-size:13px;
            font-weight: bold;
          }
          i{
            color:#666;
          }
      }
      .headdialogbox{
        position:absolute;
        top:28px;
        width:100px;
        overflow:hidden;
        border:1px solid #d8d8d8;
        right:0;
        background-color: #fff;
        padding:5px 0;
        z-index: 999;
        opacity: 0;
      }
      #userinfodialogbox{
        padding:0;
        ul{
          li{
              width:100%;
              padding:2px 5px;
              cursor:pointer;
              a{
                width:100%;
                height:100%;
                display: block;
                font-size:13px;
                font-weight: bold;
              }
              &:hover{
                background-color:#eee;
              }
          }
        }
      }
      #cartdialogbox{
        width:270px;
        .loadingbox{
          width:100%;
          height:100px;
          line-height:100px;
          text-align: center;
          font-size: 30px;
          color: #999;
        }
        h4{
          margin:0;
          padding:0 10px;
        }
        .cartitem{
          width:100%;
          height:48px;
            font-size:12px;
            padding:0 10px;
          img{
            width:48px;
            height:100%;
            display: block;
            float: left;
          }
          .cartcont{
            width:200px;
            height:100%;
            display: block;
            float: left;

            .carttitle{
              width:80%;
              height:50%;
              float:left;
              padding:4px 4px;
              text-overflow:ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
            .cartprice{
              width:20%;
              height:50%;
              float:left;
              padding:4px 0px;
              text-align: center;
            }
            .cartspecs{
              width:80%;
              height:50%;
              float:left;
              padding-left:4px;
              color:#999;
            }
            .cartcount{
              width:20%;
              height:50%;
              float:left;
              text-align: center;
            }
          }
        }
        .checkbox{
          width:100%;
          border-top:1px solid #eee;
          padding:5px 0;
          position:relative;
          span{
            display: block;
            text-align: right;
            font-size: 12px;
            color:#d0021b;
            padding:0 5px 5px;
            width:100%;
          }
          a.btn{
            float:right;
            margin-right:5px;
          }
          .carttotalprice{
            width:50%;
            position:absolute;
            bottom:5px;
            left:10px;
            font-size:14px;
            span{
              font-weight: bold;
              font-size:18px;
              display: inline;
            }
            
          }
        }
      }
    }
  }
}
.logo-sm{
  height:28px;
  display: block;
  img{
    height:100%;
  }
  margin-right:10px;
  float:left;
}
.nav-step{
  width:100%;
  padding:10px 0 0;
  overflow:hidden;
  li{
    float:left;
    height:50px;
    color:#999;
    width:16.6%;
    font-weight: normal;
    font-size: 17px;
    a{
      display: block;
      padding: 4px;
      line-height: 30px;
      width:100%;
      text-align:center;
      cursor:default;
    }
  }
  .stephere{
    color:#333;
    border-bottom:2px solid @gold;
    font-weight: bold;
  }
}
.tips{
  padding:10px 0px;
  span{
    color:#333;
  }
}
.title{
  width:100%;
  padding:9px 10px 10px;
  // border-radius:5px 5px 0 0;
  border:1px solid #d8d8d8;
  background-color:#f5f5f5;
  // background-color:#829aa8;
  // border:1px solid #768995;
  // color:#fff;
  font-size:14px;
  line-height:17px;
  cursor:default;
}
.cont{
  width:100%;
  overflow:hidden;
  border:1px solid #d8d8d8;
  // border-radius:0 0 5px 5px;
  border-width:0 1px 1px;
  padding:10px 0;
  .menuitem{
    display:block;
    width:100%;
    border-bottom:1px solid #eee;
    font-size:13px;
    line-height:17px;
    padding:9px 10px 10px;
    color:@blue;
    &:last-child{
      border:0;
    }
    &:hover{
      background:#f8f8f8;
    }
  }
}
.title2{
  width:100%;
}
.cont2{
  width:100%;
  h4{
    margin-bottom:5px;
  }
}

.column {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width:100%;
  position:relative;
}
.one-fourth {
  width: 25%;
}
.one-third {
  width: 33%;
}
.one-half {
  width: 50%;
}
.two-third {
  width: 67%;
}
.three-fourth {
  width: 75%;
}
.line{
  width:100%;
  height:0px;
  border-bottom:1px solid #d8d8d8;
  margin:10px 0px;
}
a.btn{
  height:34px;
  width:100px;
  display:block;
  font-weight: bold;
  text-align:center;
  border:1px solid #d5d5d5;
  background:#eee;
  border-radius:3px;
  line-height:30px;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  background-repeat: repeat-x;
}
a.greenbtn{
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  background-color: #60b044;
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  background-image: linear-gradient(#8add6d, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941;
    }
.pinput{
  border:1px solid #d5d5d5;
  height:34px;
  width:100%;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  background:#fafafa;
  border-radius:3px;
  font-size:13px;
  text-indent:10px;
}
.dialogbox{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:100;
  background-color: rgba(0, 0, 0, 0.2);
  .dialog{
    width:455px;
    height:287px;
    overflow:hidden;
    margin:50px auto 0;
    border-radius: 3px;
    border:1px solid #999;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    .dia-head{
      width:100%;
      height:50px;
      padding:18px 10px 10px;
      background-color: #fafafa;
      font-size:14px;
      line-height:15px;
      border-bottom:1px solid #eee;
      font-size: 16px;
    }
    .dia-body{
      width:453px;
      height:183px;
      position:relative;
      overflow:hidden;
      display:table-cell;
      vertical-align: middle;
      .jcrop-holder{
        margin:0 auto;
      }
    }
    .dia-foot{
        width:100%;
        height:54px;
        border-top:1px solid #eee;
        background-color: #fafafa; 
        padding:8px 10px;
        a{
          float:right;
        }
    }
  }
}
.foot{
     //这里是foot1的样式 
    //background:#393b3f;
    //     ul.footleft{
    //       width:30%;
    //       padding:40px 0;
    //       color:#ddd;
    //       li{
    //         padding:4px 0;
    //       }
    //     }
    // .shareiconbox{
    //   position:absolute;
    //   bottom:50px;
    //   right:0;
    //   width:auto;
    //       div{
    //         width:35px;
    //         height: 35px;
    //         border-radius:50%;
    //         // border:1px solid #eee;
    //         text-align:center;
    //         line-height: 30px;
    //         font-size:25px;
    //         color:#eee;
    //         margin-right:10px;
    //         float: left;
    //       }
    // }

    //foot2的样式
        ul.footleft{
          width:60%;
          padding:40px 0;
          color:#666;
          overflow: hidden;
          font-size:12px;
          float: left;
          li{
            padding:0 5px;
            float: left;

          }
        }
    ul.footright{
      width:40%;
      padding:40px 0;
          color:#666;
          overflow: hidden;
          font-size:12px;
          float: left;
      li{
        padding:0 5px;
        float: right;
      }
    }
}
.dashedbox{
  width:100%;
  overflow:hidden;
  border:2px dashed #333;
  padding:0 10px;
  p{
    padding:5px 0;
    a{
      color:@blue;
      font-weight: bold;
    }
  }
}


