<h4 id="cartdialogtitle">您购物车中的商品</h4>
<div class="cartitem">
  <img src="__PUBLIC__/img/main-ice-xs.png" />
  <div class="cartcont">
    <div class="carttitle">商品名，如果很长会出现省略号</div>
    <div class="cartprice">￥200</div>
    <div class="cartspecs">一段描述，一般是规格</div>
    <div class="cartcount">1</div>
  </div>
</div>
<div class="cartitem">
  <img src="__PUBLIC__/img/main-ice-xs.png" />
  <div class="cartcont">
    <div class="carttitle">商品名，如果很长会出现省略号</div>
    <div class="cartprice">￥200</div>
    <div class="cartspecs">一段描述，一般是规格</div>
    <div class="cartcount">1</div>
  </div>
</div>
<div class="cartitem">
  <img src="__PUBLIC__/img/main-ice-xs.png" />
  <div class="cartcont">
    <div class="carttitle">商品名，如果很长会出现省略号</div>
    <div class="cartprice">￥200</div>
    <div class="cartspecs">一段描述，一般是规格</div>
    <div class="cartcount">1</div>
  </div>
</div>
<div class="checkbox">
  <span>您的购物车里还有1件商品</span>
  <a class="btn">去结算</a>
  <div class="clear"></div>
</div>