<h4 id="cartdialogtitle">您购物车中的商品</h4>
<volist name="cart" id="cartitem">

<div class="cartitem" style="margin-bottom:5px;">
  <img src="__ROOT__/Uploads/{$cartitem.img}" />
  <div class="cartcont">
    <div class="carttitle">{$cartitem.name}</div>
    <div class="cartprice">￥{$cartitem.singleprice}</div>
    <div class="cartspecs"> 规格：<if condition="$cartitem.subtype eq 1 "><td>{$cartitem.cart_cakesize}磅
    <else /> <td>非蛋糕类，见商品详情</td>
</if></div>
    <div class="cartcount">×{$cartitem.cart_number}</div>
  </div>
</div>



</volist>

<div class="checkbox">
  <div class="carttotalprice">总计：￥<span>{$totalprice}</span></div>
  <span id="cartrest" style="display:none;">您的购物车里还有{$number-3}件商品</span>
  <a href="__ROOT__/index.php/Home/Index/cart.html" class="btn">去结算</a>
  <div class="clear"></div>
</div>
<script>
  if({$number-3}>0){
    $("#cartrest").show();
  }
</script>