<div class="fullbox foot" style="margin-top:20px;">
	<div class="centerbox">
			<ul class="footleft">
				<li><a>回到顶部</a></li>
				<li><a href="__ROOT__/index.php/Home/Index/about.html" target="_blank">关于我们</a></li>
				<li><a href="__ROOT__/index.php/Home/Index/buy&delivery.html" target="_blank">购买&配送</a></li>
				<li><a href="__ROOT__/index.php/Home/Index/complain&right.html" target="_blank">投诉&维权</a></li>
				<li><a href="__ROOT__/index.php/Home/Index/agreement.html" target="_blank">条款协议</a></li>
				<li><a href="__ROOT__/index.php/Home/Index/serviceforbusiness.html" target="_blank">企业服务</a></li>
				<li><a href="__ROOT__/index.php/Home/Index/job.html" target="_blank">招贤纳士</a></li>
				<li></li>
				<li></li>
				<li>浙ICP备12036459号-2</li>
			</ul>
			<div class="shareiconbox">
				<div><i class="fa fa-weibo"></i></div>
				<div><i class="fa fa-weixin"></i></div>
				<div><i class="fa fa-tencent-weibo"></i></div>
				<div><i class="fa fa-tumblr"></i></div>
			</div>
	</div>
</div>