<div class="header" style="" controller="HeaderController">
    <div class="centerbox" style="height:28px;overflow:visible;">
      <div class="logo-sm"><img src="__PUBLIC__/img/cakewithme2.png" /></div>
      <ul class="header-nav" style="margin-left:200px;">
        <li><a href="__ROOT__/index.php/Home/Index/index.html">主页</a></li>
        <li><a href="__ROOT__/index.php/Home/Index/customize.html">定制蛋糕</a></li>
        <li><a href="__ROOT__/index.php/Home/Index/mall.html">商城</a></li>
        <li><a href="__ROOT__/index.php/Home/Index/about.html">关于我们</a></li>
      </ul>
      <ul class="header-nav" style="float:right;">
       <if condition="$islogin eq 0 ">


        <!-- 未登录 -->
          <li>
            <a href="__ROOT__/index.php/Home/Index/login.html" style="padding:4px;">
              <span class="headusername">登录</span>
            </a>
          </li>
          <li>
            <a href="__ROOT__/index.php/Home/Index/register.html" style="padding:4px;">
              <span class="headusername">注册</span>
            </a>
          </li>
      <!-- 未登录 -->

    <else /> 
<!-- 已登录 -->
          <li>
            <a href="__ROOT__/index.php/Home/Index/user.html">
              <img class="headuserimg" id="user_img" src="__ROOT__/Uploads/{$userimg}" />
              <span class="headusername">{$username}</span>
            </a>
          </li>
          <li id="userinfo">
            <a href="__ROOT__/index.php/Home/Index/userinfo.html" style="padding:4px;">
              <i class="fa fa-fw fa-cog"></i>
            </a>
            <div class="headdialogbox" id="userinfodialogbox" style="display:none;">
              <ul>
                <li><a href="__ROOT__/index.php/Home/Index/userinfo.html#/baseinfo">个人资料</a></li>
                <li><a href="__ROOT__/index.php/Home/Index/userinfo.html#/account">账户设置</a></li>
                <li><a href="__ROOT__/index.php/Home/Index/userinfo.html#/address">送货地址</a></li>
                <li><a href="__ROOT__/index.php/Home/Index/userinfo.html#/myorder">我的订单</a></li>
                <li><a href="__ROOT__/index.php/Home/Index/userinfo.html#/coupon">优惠码</a></li>
              </ul>
            </div> 
          </li>
          <li id="cart">
            <a href="__ROOT__/index.php/Home/Index/cart.html" style="padding:4px;"><i class="fa fa-fw fa-shopping-cart"></i></a>
             <div class="headdialogbox" id="cartdialogbox" style="display:none;">
              <div class="loadingbox">
                <i class="fa fa-spinner fa-spin"></i>
              </div>
              <div class="cartdialog"></div>
            </div> 
          </li>
        <!-- 已登录 -->


    
</if>   
      


       
      </ul>
      </div>
    </div>
</div>
