 <!DOCTYPE html>
<html lang="zh-CN" ng-app="cust">
  <head> 
    <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     <meta name="description" content="蛋糕狐在线蛋糕DIY，现做蛋糕送货上门">
     <title>cakefun</title>
     <link href="__PUBLIC__/css/public.css" rel="stylesheet">
     <link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet">
     <!--[if lt IE 9]><link href="__PUBLIC__/css/font-awesome-ie7.min.css" rel="stylesheet"><![endif]-->
     <link rel="stylesheet/less" type="text/css" href="__PUBLIC__/css/public.less">
     <link rel="stylesheet/less" type="text/css" href="__PUBLIC__/css/cart.less">
     <script src="__PUBLIC__/less/dist/less.js" type="text/javascript"></script>
     <style>
        .nav-step li{
            width:25%;
        }
     </style>
  </head>
  <body>
  <include file="head" />
  <div class="fullbox" style="border-bottom:1px solid #e5e5e5;">
    <div class="centerbox">
      <ul class="nav-step">
        <li><a>购物车</a></li>
        <li><a>确定订单</a></li>
        <li class="stephere"><a>在线支付</a></li>
        <li><a>交易完成</a></li>
      </ul>
  </div>
</div>  
<div class="fullbox">
    <div class="centerbox">
      <div class="tips">
        <span><i class='fa fa-lightbulb-o fa-fw'></i>请选择适合您的支付方式</span>
      </div>
    </div>
    <div class="centerbox">
      <div class="column" style="padding-bottom:20px;">
        <div class="brand" style="border-right:1px solid #d8d8d8;">
          <label for="zhifubaoradio">
            <span>支付宝</span>
            <div>
              <img src="__PUBLIC__/img/zhifubao.png" alt="支付宝logo">
            </div>
            <div class="describe">
              使用支付宝支付，请确定您拥有支付宝账号；<br />
              我们会为您跳转到支付宝付款页面。
            </div>
            <div  class="paytyperadio"><input type="radio" name="paytype" id="zhifubaoradio" value="zhifubao" checked /></div>
          </label>
        </div>
        <div class="brand">
          <label for="weixinradio">
            <span>微信支付</span><div><img src="__PUBLIC__/img/weixinzhifu.png" alt="微信支付logo"></div>
            <div class="describe">
              使用微信支付，请确定您已开通微信钱包；<br />
              您需要通过手机微信扫描付款二维码完成支付；<br />
              现在通过微信钱包付款，能够获得5%的返现。
            </div>
            <div class="paytyperadio"><input type="radio" name="paytype" id="weixinradio" value="weixin" /></div>
          </label>
        </div>
        
      </div>
      <div class="clear"></div>
      <div class="quzhifu">
          <div class="paymenttip">您需支付<span>298元</span><a class="btn greenbtn">去支付</a></div>
          
      </div>
    </div>
    
    <div class="centerbox">
      <!-- <table class="introtable">
        <tr>
          <td class="introimg" style="padding:20px;"><img src="__PUBLIC__/img/erweima.png" alt="二维码" /></td>
          <td><span>关注cakefun官方微信公众平台，查询订单状态、获取最新优惠都有噢～</span></td>
          <td class="introimg"><img src="__PUBLIC__/img/weibo.jpg" alt="新浪微博" /></td>
          <td><span>我们的新浪微博账号是：cakefun我们的蛋糕坊，欢迎关注噢</span></td>
        </tr>
      </table> -->
    </div>
  </div>
  <include file="foot" />
<script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
<!--<script src="__PUBLIC__/js/slide.js"></script>-->
 <script src="__PUBLIC__/js/angular-1.3.min.js"></script>
 <script src="__PUBLIC__/js/angular-animate.min.js"></script>
 <script src="__PUBLIC__/js/angular-route.min.js"></script>
 <script src="__PUBLIC__/js/public.js"></script>
<script src="__PUBLIC__/js/cust.js"></script>
<script src="__PUBLIC__/js/md5.js"></script>
<!-- <include file="loginwindow" /> -->

<script>

</script>

  </body>
  </html>