.banner{
  
}
.bannerbox{
  padding:0px;
  overflow:hidden;
  position:relative;
}
.slidebox{
  height:inherit;
  position:relative;
}
.banner-img{
  display:block;
  float:left;
  width:inherit;
  height:inherit;
}
.listpoint{
  width:9px;
  height:9px;
  border-radius:50%;
  margin-left:3px;
  margin-right:3px;
  background:#fff9df;
  float:left;
}
.cur{
  background:#efb06b;
}
.list{
  position:absolute;
  width:39px;
  bottom:15px;
  left:0;
  right:0;
}
@media(max-device-width:767px){

}
@media(min-device-width:768px){
  .bannerbox{
    width:690px;
    height:216px;
  }
}
@media(min-device-width:992px){
  .bannerbox{
    width:960px;
    height:300px;
  }
}
@media(min-device-width:1200px){
  .bannerbox{
    width:1120px;
    height:350px;
  }
  
}

























