<div class="cust-choose-bar">
      <nav class="cust-choose">
        <a href="#/1pound">1磅蛋糕</a>
        <a href="#/2pounds">2磅蛋糕</a>
        <a href="#/3pounds" class="nav-selected">3磅蛋糕</a>
        <a href="#/5pounds">5磅蛋糕</a>
        <a href="#/selected">精选蛋糕</a>
      </nav>
      </div>
 <div class="cust-content-bar">
        <div class="cust-content">
 <div class="floatleft cake-view" ng-init="position1='-10px -40px'">
 <!-- <div position1="-100px -100px" ng-cakeimg></div>-->
  <div class="cust-img-box" id="step1" style="background-position:{{position1}}"></div>
  <div class="cust-img-box" data-step="step2"></div>
  <div class="cust-img-box" data-step="step3">
  
  </div>
  <div class="cust-img-box" data-step="step4">
  
  </div>
  <div class="cust-img-box" data-step="step5">
  
  </div>
</div>
<div class="floatleft controll-bar">
  <div class="controll-bar-select-unit">
    <div class="controll-bar-select-title" data>主要材料</div>
    <div class="floatleft controll-bar-select-option" ng-click="position1='-10px -40px'" ng-class="{optSelected:position1=='-10px -40px'}">慕斯</div>
    <div class="floatleft controll-bar-select-option" ng-click="position1='-10px -340px'" ng-class="{optSelected:position1=='-10px -340px'}">布丁</div>
    <div class="floatleft controll-bar-select-option" ng-click="position1='-330px -40px'" ng-class="{optSelected:position1=='-330px -40px'}">芝士</div>
    <div class="floatleft controll-bar-select-option" ng-click="position1='-10px -640px'" ng-class="{optSelected:position1=='-10px -640px'}">戚风</div>
  </div>
  <div class="controll-bar-select-unit">
    <div class="controll-bar-select-title">夹心材料</div>
    <div class="floatleft controll-bar-select-option" data-material="0">无</div>
    <div class="floatleft controll-bar-select-option" data-material="1">圆形</div>
    <div class="floatleft controll-bar-select-option" data-material="2">方形</div>
    <div class="floatleft controll-bar-select-option" data-material="3">六边形</div>
    <div class="floatleft controll-bar-select-option" data-material="4">星型</div>
  </div>
  <div class="controll-bar-select-unit">
    <div class="controll-bar-select-title">顶层材料</div>
    <div class="floatleft controll-bar-select-option" data-material="1">草莓</div>
    <div class="floatleft controll-bar-select-option" data-material="1">猕猴桃</div>
    <div class="floatleft controll-bar-select-option" data-material="1">冰淇淋</div>
    <div class="floatleft controll-bar-select-option" data-material="1">奶酪</div>
  </div>
  <div class="controll-bar-select-unit">
    <div class="controll-bar-select-title">裱花样式</div>
    <div class="floatleft controll-bar-select-option" data-material="1">脱脂奶油</div>
    <div class="floatleft controll-bar-select-option" data-material="1">巧克力</div>
    <div class="floatleft controll-bar-select-option" data-material="1">冰淇淋</div>
    <div class="floatleft controll-bar-select-option" data-material="1">蓝莓</div>
  </div>
</div>
</div>
    </div>































