<div class="form-group">
           <label>新密码</label>
           <div class="clear"></div>
           <input type="password" id="password" class="form-input" name="password" ng-model="signup.password" placeholder="6~18位新密码" ng-minlength="6" ng-maxlength="18" required ng-focus />
           <div class="clear"></div>
           <div class="error" ng-class="{errorshow:form.submit}">
              <span ng-show="form.password.$invalid ">密码应为6~18位字符</span>
              <span ng-show="form.password.$error.error1">新密码与旧密码不能相同</span>
           </div>
</div>